*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/static/images/data.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login-page{
    width: 360px;
    padding: 10px 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: blue;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input{
    outline: none;
    background: #f2f2f2;
    /* border-radius: 10px; */
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
}
.form button:hover,.form button:active{
    background: green;
    border: none;

}
.form .message{
    margin: 15px 0 0;
    color: #fff;
    font-size: 12px;
}
.form .message a{
    color: black;
    text-decoration: none;
    
}
.register-form{
    display: none;
}


.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    color: black;
}

.text{
    color: white;
}



/* .form-check-input{
    color: #fff;
} */
/* .text-warning{
    color: #fff;
} */
